/**
* 弹性布局类
* f-sb-c       x轴两端对齐(space-between)，y轴垂直居中(center) 
* f-sb-s-c     在列方向的前提下(column)，x轴占满(stretch)，y轴两端对齐(space-between)
* f-sb-fs-w    x轴两端对齐(space-between)，y轴从上到下依次排列(flex-start)，占满一行自动换行(wrap)
* f-sb-fs-w-c  x轴两端对齐(space-between)，y轴从上到下依次排列(flex-start)，占满一行自动换行(wrap)，多个行在y轴上居中(center)
*/
.f-fs-fs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.f-fs-fs-c {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.f-fs-fs-w {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.f-fs-fe {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.f-fs-fe-c {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
}
.f-fs-fe-w {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
}
.f-fs-c {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.f-fs-c-c {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.f-fs-c-w {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.f-fs-s {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.f-fs-s-c {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
}
.f-fs-s-w {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}
.f-fe-fs {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.f-fe-fs-c {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.f-fe-fs-w {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
}
.f-fe-fe {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.f-fe-fe-c {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.f-fe-fe-w {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}
.f-fe-c {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.f-fe-c-c {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.f-fe-c-w {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.f-fe-s {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}
.f-fe-s-c {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: column;
}
.f-fe-s-w {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: wrap;
}
.f-c-fs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.f-c-fs-c {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.f-c-fs-w {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.f-c-fe {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.f-c-fe-c {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.f-c-fe-w {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}
.f-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-c-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.f-c-c-w {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.f-c-s {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.f-c-s-c {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}
.f-c-s-w {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.f-sb-fs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.f-sb-fs-c {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.f-sb-fs-w {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.f-sb-fe {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.f-sb-fe-c {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}
.f-sb-fe-w {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.f-sb-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f-sb-c-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.f-sb-c-w {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.f-sb-s {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.f-sb-s-c {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}
.f-sb-s-w {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.f-sa-fs {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.f-sa-fs-c {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}
.f-sa-fs-w {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.f-sa-fe {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.f-sa-fe-c {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
}
.f-sa-fe-w {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}
.f-sa-c {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.f-sa-c-c {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.f-sa-c-w {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.f-sa-s {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
.f-sa-s-c {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
}
.f-sa-s-w {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}
.f-se {
  justify-content: space-between;
}
.f-se::before,
.f-se::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
}
/**
* 当呈多行多列排列且最后一行凑不满一行时，为了行列对齐好看，需要使用额外的空盒子填充占满（需加这个类）
*/
.f-empty {
  height: 0 !important;
  visibility: hidden !important;
}
/**
* 弹性布局的项目伸缩比例
* f-0 ~ f-3
* f-0 要单独处理
*/
.f-0 {
  flex-grow: 0;
  flex-shrink: 0;
}
.f-1 {
  flex: 1;
}
.f-2 {
  flex: 2;
}
.f-3 {
  flex: 3;
}
/**
* 文本省略
* line-1 ~ line-3
*/
.line-1 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-wrap: break-word;
  word-break: break-all;
}
.line-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  word-break: break-all;
}
.line-3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-wrap: break-word;
  word-break: break-all;
}
