.bg-box {
  border: 4px solid yellowgreen;
  background: yellow;
}
.bg-red {
  background: red;
}
.bg-blue {
  background: lightblue;
}
.bg-green {
  background: green;
}
.bg-purple {
  background: purple;
}
.bg-pink {
  background: pink;
}
.bg-orange {
  background: orange;
}
.bg-gray {
  background: gray;
}
.bg-lightgray {
  background: lightgray;
}
.empty-anchor {
  height: 0;
  font-size: 0;
  overflow: hidden;
  visibility: hidden;
}
.tips {
  color: red;
}
.p {
  text-indent: 2em;
}
.hover-title {
  cursor: default;
  padding: 0 4px;
  border-radius: 4px;
  background: #aaa;
}
.container {
  padding: 0 16px 32px;
  width: 1200px;
  max-height: 100vh;
  overflow: auto;
  margin: 0 auto;
  background: #dddddd;
}
.container .h1 {
  font-size: 30px;
  margin-top: 32px;
  margin-bottom: 16px;
  text-align: center;
}
.section {
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
}
.section .head {
  padding-bottom: 8px;
}
.section .head .title {
  font-size: 20px;
  font-weight: 600;
}
.section .head .title::before {
  content: "";
  display: block;
  height: 1.2em;
  width: 6px;
  border-radius: 3px;
  margin-right: 0.5em;
  background: #000;
}
.section .body {
  padding-left: 20px;
}
.section .desc {
  margin: 8px 0;
}
.section .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  text-align: center;
  padding: 0 10px;
}
.produce .indent {
  text-indent: 1em;
}
.produce .no-use {
  opacity: 0.5;
}
.produce .tips {
  margin-top: 8px;
  color: red;
}
.produce .exam-img:nth-child(1) {
  width: 65%;
}
.produce .exam-img:nth-child(2) {
  width: 35%;
}
.inline .item {
  display: inline-block;
  width: 40%;
  line-height: 50px;
}
.common .flex-name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 16px;
}
.common .flex-name .tips {
  color: red;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}
.common .exam.one .item {
  width: 25%;
}
.common .exam.one .bg-box:not(:last-child) {
  margin-bottom: 8px;
}
.common .exam.one .item-s {
  text-align: center;
  width: 25%;
}
.common .exam.two .item {
  height: 100px;
}
.common .exam.two .bg-box.one .item {
  width: 25%;
}
.common .exam.two .bg-box.one .item:not(:last-child) {
  margin-right: 16px;
}
.common .exam.two .bg-box.two .item {
  flex-basis: 28%;
}
.common .exam.two .bg-box.three .item {
  width: 28%;
}
.common .exam.two .bg-box.four .item {
  width: 25%;
}
.common .exam.two .bg-box.four .empty {
  font-size: 14px;
  opacity: 0.3;
}
.fixed-head-foot .page-box:nth-child(2n-1) {
  margin-right: 16px;
}
.fixed-head-foot .page {
  height: 400px;
  overflow: auto;
}
.fixed-head-foot .page .h {
  height: 70px;
}
.fixed-head-foot .page .b {
  overflow: auto;
}
.fixed-head-foot .page .f {
  height: 70px;
}
.demo .imgs {
  position: relative;
}
.demo .imgs .img:not(:last-child) {
  margin-right: 8px;
}
.demo .imgs .img:nth-child(1) {
  width: 50%;
}
.demo .imgs .img:nth-child(2) {
  width: 27%;
}
.demo .imgs .img:nth-child(3) {
  width: 23%;
}
.demo .imgs .tips {
  color: red;
  position: absolute;
  width: 50%;
  bottom: 130px;
  left: 0;
}
.demo .layout .area {
  color: red;
  font-size: 24px;
  font-weight: 500;
}
.demo .layout .header {
  padding: 0 16px;
  height: 80px;
  background: #333;
}
.demo .layout .header .logo {
  height: 60px;
  width: 60px;
  margin-right: 16px;
  border-radius: 50%;
  background: #999;
}
.demo .layout .header .title {
  color: #fff;
  font-size: 22px;
}
.demo .layout .header .navs {
  margin: 0 16px;
}
.demo .layout .header .navs .link {
  color: #ddd;
  text-decoration: none;
}
.demo .layout .header .navs .link:hover {
  color: #fff;
  text-decoration: underline;
}
.demo .layout .header .navs .link:not(:last-child) {
  margin-right: 1em;
}
.demo .layout .header .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #999;
}
.demo .layout .bodyer {
  background: #ccc;
}
.demo .layout .bodyer .aside {
  padding: 8px 16px;
  height: 300px;
  width: 200px;
  background: #999;
  overflow: auto;
}
.demo .layout .bodyer .content {
  padding: 8px 16px;
  overflow: auto;
}
.demo .layout .footer {
  height: 40px;
  color: #fff;
  background: #000;
}
.donate {
  display: none;
  margin: 0 auto;
  border-radius: 16px;
  width: fit-content;
  background: #fff;
  padding: 16px 32px;
  margin-top: 40px;
}
.donate .thanks {
  font-size: 22px;
  margin-bottom: 10px;
}
.donate .img {
  width: 250px;
  height: 250px;
}
.donate .type-text {
  margin-top: 4px;
}
.issue {
  margin: 32px 0;
  text-align: center;
  font-size: 22px;
}
.issue a {
  font-size: 20px;
}
.issue a.btn {
  margin-top: 8px;
  font-size: 16px;
}
.quick-tools {
  display: block;
  border-radius: 8px;
  background: #eee;
  position: absolute;
  left: calc(50vw + 1200px*0.5 + 6px);
  bottom: 16px;
  border: 1px solid #faa57e;
  overflow: hidden;
}
.quick-tools .anchor {
  cursor: pointer;
  color: #666;
  text-decoration: none;
  padding: 4px;
  height: 60px;
  width: 60px;
}
.quick-tools .anchor:not(:last-child) {
  border-bottom: 1px solid #faa57e;
}
.quick-tools .anchor:hover {
  color: #000;
  font-weight: normal;
  background: #ddd;
}
.quick-tools .anchor .sec-num {
  color: #ff5000;
  font-size: 16px;
  font-weight: 500;
}
.quick-tools .anchor .text {
  margin-top: 4px;
  font-size: 12px;
}
